
.editHost {
    text-align: center;
    /* border: 1px solid salmon; */
    display: inline-block;
}


.editHost button{
  background-color: hsl(0, 27%, 56%);
  border-radius: 6px;
  padding: 5px;
}

.editHost button:hover{
  background-color: hsl(0, 41%, 49%);
}

